---
import Terminal from '../components/Terminal';
import FileExplorer from '../components/FileExplorer';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    	<title>tt41</title>
    	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gray-900 min-h-screen flex items-center justify-center">	
		<main class="w-full p-4">
			<!-- <h1 class="text-center text-4xl font-bold text-white mb-8 font-mono">
				SYSTEM <span class="text-green-500">ONLINE</span>
			</h1> -->

			<Terminal client:load />
		
		</main>

	</body>
</html>